<!DOCTYPE html>
{% extends 'nuestrosClientes/nuestrosClientesPage.html' %}

{% block galeria %}
  <div class="container">
    <h2>Clientes</h2>
    <div class="row">
      <div class="col-md-4">      
          <div class="thumbnail">
            <a href="w3images/lights.jpg" target="_blank">
              <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <p>image1</p>
              </div>
            </a>
      </div>
    </div>




  </div>




{% endblock %}






